.header-div{
    height: 40px;
    background-color: midnightblue;
}
.card img{
    height: 100px;
    width: 100px;
    margin: 0 auto;
}
.intro-div img{
    width: 300px;
    height: 400px;
    margin: 0 auto;
}
.phone-details-seaction{
    width: 80%;
    /* display: none; */
}
table td{
    width: 100%;
}

.footer-div{
    height: 120px;
    background-color: midnightblue;
    margin-top: 30%;
}
@media only screen and (max-width: 600px) {
    .footer-div{
        margin-top: 120%;
    }
  }